JWT_SECRET="YOUR_JWT_SECRET"

CLIENT_URL="YOUR_CLIENR_URL"

ENVIRONMENT="development" # development | production

# yandex-storage S3
YANDEX_ACCESS_KEY="YANDEX_ACCESS_KEY"
YANDEX_SECRET_KEY="YANDEX_SECRET_KEY"
YANDEX_BUCKET_NAME="YANDEX_BUCKET_NAME"
